/* Applied to all */;
*{
  --header-height: 300px;
}
/* Title */


/* Header */
header{
  position: sticky;
  top: 0;
  z-index: 100;
}
h1{
  font-weight: bold;
  font-size: 40px;

}

/* Box */
.row{
	position: relative;
	text-align: center;
  z-index: 0;
}
.boxgrey{
	background-color: #B4B1B1;
  	margin: 10px;
  	clear: both;
  	margin-right: 20px;
  	margin-left: 20px;
    scroll-margin-top: 225px;
}
.contenthead {
	border-color:#000000;
	padding: 25px 50px 5px 50px;
  margin-left: auto;
  background-color: #B4B1B1;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/* Content Titles */
.sushititle{
}
.chickentitle{
}
.beeftitle{
}
/* Content Text */
.dummytext{
clear: both;
text-align: left;
padding: 20px;
font-size: 14px;

}
/*Nav Bar*/
#navbar {
}
#nav-list {
}
#nav-list a {
  color: #000000;
  text-align: center;
  background-color: white;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar {
	background-color: grey;
	border-radius: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*Drop Down list*/
ul{
	background-color: white;
}
/* Media Queries */
/* Desktop */
@media (min-width: 992px) {
  #myBtn{
    display: none;
  }
  .dummytext{
    font-size: 25px;
  }
  .contenthead{
    font-size: 30px;
  }
}
	
/* Tablet */
@media (min-width: 767px) and (max-width: 991px) {
  #myBtn{
    display: none;
  }
  .dummytext{
    font-size: 25px;
  }
  .contenthead{
    font-size: 30px;
  }
/* Mobile */
@media (max-width: 767px) {
	.boxgrey{
		margin-right: 45px;
		margin-left: 45px;

	}
}
