/* Applied to all */
*{

}
/* Title */
h1{
	text-align: center;
	padding-bottom: 50px;
	padding-top: 50px;
}
/* Box */
.row{
	position: relative;
	text-align: center;
}
.boxgrey{
	background-color: #B4B1B1;
  	margin: 10px;
  	clear: both;
}
.contenthead {
	border-color:#000000;
	padding: 5px 50px 5px 50px;
	border: 1px solid black;
    padding: 5px 50px 5px 50px;
    margin-left: auto;
    background-color: #B4B1B1;
}
/* Content Titles */
.sushititle{
	position: relative;
	background-color: #E4E070;
	border: 2px  solid #050404;
}
.chickentitle{
	position: relative;
	background-color: #EA98A8; 
	border: 2px solid #050404;
}
.beeftitle{
	position: relative;
	background-color: #CC2828;
	border: 2px  solid #050404;
	color: #ffffff;
}
/* Content Text */
.dummytext{
clear: both;
text-align: left;
padding: 20px;
}
/* Media Queries */
/* Desktop */
@media (min-width: 992px) {
	.boxgrey {

    }
}
	
/* Tablet */
@media (min-width: 767px) and (max-width: 991px) {
	.boxgrey {

	} 
    .tablet {

    }
}
/* Mobile */
@media (max-width: 767px) {
	.boxgrey {
  
    }
}