/* Applied to all */
*{

}
/* Title */
}
/* Box */
.row{
	position: relative;
	text-align: center;
}
.boxgrey{
	background-color: #B4B1B1;
  	margin: 10px;
  	clear: both;
  	margin-right: 20px;
  	margin-left: 20px;
}
.contenthead {
	border-color:#000000;
	padding: 5px 50px 5px 50px;
    padding: 5px 50px 5px 50px;
    margin-left: auto;
    background-color: #B4B1B1;
    text-align: center;
}
/* Content Titles */
.sushititle{
}
.chickentitle{
}
.beeftitle{
}
/* Content Text */
.dummytext{
clear: both;
text-align: left;
padding: 20px;
}
/*Nav Bar*/
#nav-list {
}
#nav-list a {
  color: #000000;
  text-align: center;
  background-color: white;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar {
	background-color: grey;
	border-radius: 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*Drop Down list*/
ul{
	background-color: white;
}
/* Media Queries */
/* Desktop */
@media (min-width: 992px) {

}
	
/* Tablet */
@media (min-width: 767px) and (max-width: 991px) {


}
/* Mobile */
@media (max-width: 767px) {
	.boxgrey{
		margin-right: 75px;
		margin-left: 75px;

	}
}
